{% extends "base.html" %}

{% block content %}
        <div class="p-3 p-md-5" id="middle">
            <div class="col-auto mb-5">
                    <h3>login</h3>
            </div>
            <div class="col-auto mb-4">
                <form action="" method="POST">
                    {{ login_form.hidden_tag() }}
                    <div class="form-group row mb-3">
                        {{ login_form.user_email.label(class='col-4 col-form-label', for='user_email') }}
                        <div class="col-8">
                            {{ login_form.user_email(class='form-control', placeholder='saigon@vietnam.com') }}
                        </div>
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ login_form.user_password.label(class='col-4 col-form-label', for='user_password') }}
                        <div class="col-8">
                            {{ login_form.user_password(class='form-control', placeholder='what-is-love', size='32') }}
                        </div>
                    </div>

                    <div class="row my-4">
                        <div class="col-4">
                            {{ login_form.submit(class='btn btn-outline-dark btn-sm') }}
                        </div>
                        <div class="col-8">
                            {{ login_form.remember_me() }} {{ login_form.remember_me.label }}
                        </div>
                    </div>
                    
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="row">
                        {% for message in messages %}
                        <div class="col-auto">{{ message }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% endwith %}
                </form>
            </div>
        </div>

        <div class="p-3 p-md-5" id="right">
            <div class="col-auto mb-5">
                <h3>register</h3>
            </div>
            <div class="col-auto mb-5">
                <p>are you new? <a href="{{ url_for('register') }}">sign up here</a></p>
            </div>
            <div class="col-auto mb-5">
                <p>forgot your password? <a href="{{ url_for('forgot_password') }}">reset here</a></p>
            </div>
        </div>
{% endblock %}