{% extends "base.html" %}

{% block content %}
        <div class="p-3 p-md-5" id="middle">
            <div class="col-auto mb-5">
                <h3>reset password</h3>
            </div>
            <div class="col-auto mb-4">
                <form action="" method="POST">
                    {{ reset_password_form.hidden_tag() }}
                    <div class="form-group row mb-3">
                        {{ reset_password_form.user_password.label(class='col-4 col-form-label', for='user_password') }}
                        <div class="col-8">
                            {{ reset_password_form.user_password(class='form-control', placeholder='what-is-love', size='32') }}
                        </div>
                    </div>
                    
                    <div class="form-group row mb-3">
                        {{ reset_password_form.user_password2.label(class='col-4 col-form-label', for='user_password2') }}
                        <div class="col-8">
                            {{ reset_password_form.user_password2(class='form-control', placeholder='what-is-love', size='32') }}
                        </div>
                    </div>
    
                    <div class="row my-4">
                        <div class="col-4">
                            {{ reset_password_form.submit(class='btn btn-outline-dark btn-sm') }}
                        </div>
                    </div>
                    
                    <div class="row">
                    {% for error in reset_password_form.user_password.errors %}
                        <div class="col-12">{{ error }}</div>
                    {% endfor %}
                    {% for error in reset_password_form.user_password2.errors %}
                        <div class="col-12">{{ error }}</div>
                    {% endfor %}
                    </div>

                </form>
            </div>
        </div>

        <div class="p-3 p-md-5" id="right">
            <div class="col-auto mb-5">
                <h3>login</h3>
            </div>
            <div class="col-auto mb-5">
                <p>already signed up? <a href="{{ url_for('login') }}">login here</a></p>
            </div>
            <div class="col-auto mb-5">
                <p>forgot your password? <a href="{{ url_for('forgot_password') }}">reset here</a></p>
            </div>
        </div>
{% endblock %}